.newsAbputImg{
    width: 100%;
    max-height: 600px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.newsAboutTitle{
    width: 80%;
    margin: 0 auto;
   color: black;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 23px;
    margin-bottom: 10px;

}
.newsAboutText{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
}